body {
    background-image: url('../images/farm.jpg');
    background-size: cover;
    margin: -16px auto 0;
    width: 938px;
    min-height: 1000px;
}

#content 
{
    background-color: red;
    margin: 0 auto;
}
